body, html { 
    overflow-x: hidden; 
    overflow-y: auto;
    font-family: "Cousine", monospace;
  	color: white;
}

html {
	background: #0C6A83; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0C6A83, #FF6B6B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0C6A83, #FF6B6B); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0C6A83, #FF6B6B); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0C6A83, #FF6B6B); /* Standard syntax */
}

body {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

h1 {
	text-align: center;
}

p {
  font-size: .8em;
}

